body
{
    background-color: gray;
}
.Cuadrito
{
    margin: auto;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%x;
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    font-family:  montserrat;
}
.contenido
{
    color: white;
    font-family: courier;
    width: 50%;
    height: 300px;
    padding: 10px;
}
.contenido1
    {
        display: flex;
        width: 500px;
        height: 500px;
        background-size: cover;
        background-image: url(https://ccplazacentral.com/wp-content/uploads/2021/07/SUPERDRY.jpg);
    }

.contenedor1
{

    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 91px;
    font-family: impact;
    font-size: 48px;
    background-color: rgb(255, 94, 0);
    border-radius: 10px 10px 0px 0px;
}
.cuadro2
{  
    display: flex;
    margin: auto;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    height: 30%;
}
.cuadro3
{
    display: flex-end;
    margin: auto;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    height: 10%;
}
BotonesIndex
{
    text-decoration: none;
}
input#BotonesIndex
{
    width: 190px;
    height: 50px;
    text-decoration:rgb(255, 94, 0);
    padding:none;
    background-color: aquamarine;

}

input#BotonesIndex:hover
{
    background-color: black;
    color: white;

}