body
{
    background-color: gray;
}
.Cuadrito
{
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 20%;
}
.cuadro2
{
    width: 150px;
    height: 150px;
    background-color: aqua;
}