
.Cuadrito
{
    margin: auto;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%x;
    background-color: red;
    border-radius: 10px;
    font-family:  montserrat;
}
.contenido
{
    font-family: courier;
    width: 50%;
    height: 300px;
    padding: 10px;
}
.contenedor1
{
    display: flex inline-block;
    margin: auto;
    width: 98%;
    height: 200px;
    border-radius: 5px;
}
.cuadro2
{  
    display: flex;
    margin: auto;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    height: 30%;
}
.cuadro3
{
    display: flex;
    margin: auto;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    height: 10%;
}